a {
  text-decoration: none;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  margin: 0;
  position: relative;
  color: hsl(192, 100%, 9%);
  font-family: 'Open Sans', sans-serif;
}

footer {
  background-color: hsl(192, 100%, 9%);
  position: relative;
  display: block;
  margin: auto;
  color: white;
  width: 1440px;
}

header {
  box-sizing: border-box;
  width: 1440px;
  margin: auto;
  padding-bottom: 150px;
}

h1 {
  display: block;
  padding: 15px;
  font-weight:700;
  text-align: center;
  color: hsl(192, 100%, 9%);
  font-family: 'Poppins', sans-serif;
}

h3 {
  color: hsl(208, 11%, 55%);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

input[type=email], select {
  width: 100%;
  padding: 20px 30px;
  margin: 8px 5px;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  -moz-box-shadow: 3px 4px 7px 0px #ccc;
  -webkit-box-shadow: 3px 4px 7px 0px #ccc;
  box-shadow: 3px 4px 7px 0px #ccc;
  resize: none;
}

.container {
  position: relative;
  display: block;
  width: 1440px;
  margin: auto;
}

.container img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

.container h1 {
  width: auto;
  text-align:center;
}

.container h3 {
  padding: 0 50px 50px;
  width: 725px;
  box-sizing: border-box;
  margin:auto;
  text-align: center;
}

.input_form {
  display: inline-block;
  height: 18px;
  width: 80%;
  position: relative;
  padding-right: 25px;
  box-sizing: border-box;
}

.footer-container {
  padding: auto;
  box-sizing: border-box;
  margin: auto;
}

.grid-item1 {
  padding-left: 15%;
  padding-top: 10%;
}
.grid-item2 {
  padding-top: 5%;
  padding-bottom: 5%;
}
.grid-item3 {
  padding-left: 15%;
  padding-top: 5%;
}

.grid-item4 {
  padding-top: 3%;
  padding-bottom: 5%;
  text-align: right;
  padding-right: 9%;
}

.logo {
  padding-left: 50px;
  padding-top: 50px;
}

.logo-buttons {
  display: grid;
  grid-template-columns: 30% 70%;

}

.logo-buttons2 {
  display: grid;
  grid-template-columns: 30% 70%;
}

.logo-buttons2 svg {
  width: 32px;

}

.main-container {
  margin: auto;
  width: 1440px;
}

.myButton {
  -moz-box-shadow: 3px 4px 7px 0px #a6bdac;
  -webkit-box-shadow: 3px 4px 7px 0px #a6bdac;
  box-shadow: 3px 4px 7px 0px #a6bdac;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, hsl(322, 100%, 66%)), color-stop(1, hsl(322, 100%, 66%)));
  background: -moz-linear-gradient(top, hsl(322, 100%, 66%) 5%, hsl(322, 100%, 66%) 100%);
  background: -webkit-linear-gradient(top, hsl(322, 100%, 66%) 5%, hsl(322, 100%, 66%) 100%);
  background: -o-linear-gradient(top, hsl(322, 100%, 66%) 5%, hsl(322, 100%, 66%) 100%);
  background: -ms-linear-gradient(top, hsl(322, 100%, 66%) 5%, hsl(322, 100%, 66%) 100%);
  background: linear-gradient(to bottom, hsl(322, 100%, 66%) 5%, hsl(322, 100%, 66%) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(322, 100%, 66%)', endColorstr='hsl(322, 100%, 66%)', GradientType=0);
  background-color: hsl(322, 100%, 66%);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid hsl(322, 100%, 66%);
  display: inline;
  cursor: pointer;
  position: relative;
  color: #ffffff;
  font-family: Verdana;
  font-size: 18px;
  padding: 18px 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  width: 20%;
}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, hsl(322, 100%, 66%)), color-stop(1, hsl(322, 100%, 66%)));
  background: -moz-linear-gradient(top, hsl(322, 100%, 66%) 5%, hsl(322, 100%, 66%) 100%);
  background: -webkit-linear-gradient(top, hsl(322, 100%, 66%) 5%, hsl(322, 100%, 66%) 100%);
  background: -o-linear-gradient(top, hsl(322, 100%, 66%) 5%, hsl(322, 100%, 66%) 100%);
  background: -ms-linear-gradient(top, hsl(322, 100%, 66%) 5%, hsl(322, 100%, 66%) 100%);
  background: linear-gradient(to bottom, hsl(322, 100%, 66%) 5%, hsl(322, 100%, 66%) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(322, 100%, 66%)', endColorstr='hsl(322, 100%, 66%)', GradientType=0);
  background-color: hsl(322, 100%, 66%);
}

.myButton:active {
  position: relative;
  top: 1px;
}

.register {
  padding: auto;
  padding-bottom: 20%;
  margin: auto;
  width: 50%;
  align-content: center;
}

.screen {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
}
